@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Antonio:wght@400;700&family=Arvo:wght@400;700&family=Black+Ops+One&family=Caveat:wght@400;700&family=Cinzel:wght@400;700;900&family=Dancing+Script:wght@400;700&family=Ephesis&family=Great+Vibes&family=Indie+Flower&family=Kaushan+Script&family=Pacifico&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Potta+One&family=Shadows+Into+Light&family=Special+Elite&family=Zeyada&display=swap");
@import-normalize;
/* bring in normalize.css styles */

html,
body {
  margin: 0;
  /* font-family: "Arvo", "Antonio", "Playfair Display", "Amatic", "Black Ops One",
    "Caveat", "Cinzel", "Dancing Script", "Ephesis", "Great Vibes",
    "Indie Flower", "Kaushan Script", "Pacifico", "Permanent Marker",
    "Potta One", "Shadows Into Light", "Special+Elite", "Zeyada", sans-serif,
    cursive, serif; */

  font-family: "Antonio", sans-serif;
  background-color: #000;

  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.02em;
  font-size: 14px;
  margin: 0 auto;
  transition: 1.5s;
  overflow-y: auto; /* Додайте цей рядок */

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

svg {
  display: block;
}
